@import "/layout/styles/layout.css";
@import "/css/bootstrap.css";
@import "/fontawesome/css/font-awesome.min.css";
@import "/js/third-party/lightbox/css/lightbox.min.css";
@import "/css/roboto_light/stylesheet.css";
@import url("https://cdn.jsdelivr.net/npm/shareon@1.2.0/dist/shareon.min.css");
body {
    font-family: 'robotolight', sans-serif;
    word-spacing: 1.5px;
    position: relative;
    background: aliceblue;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#carousel1 {
    margin-bottom: 30px;
}

#portfolio #portfolio-cats li {
    font-size: 1.2em;
    border-bottom: 1px solid #3333ff;
    padding: 6px;
}
.padding-margin-0 {
    padding:0;
    margin: 0;
}

.padding-bottom-sm{
    padding-bottom: 2px;
}
.padding-bottom-md{
    padding-bottom: 5px;
}

.padding-top-sm{
    padding-top: 2px;
}
.padding-top-md{
    padding-top: 5px;
}
.padding-top-lg{
    padding-top: 10px;
}

.padding-sides-0{
    padding-left: 0;
    padding-right: 0;
}
.padding-sides-sm{
    padding-left: 2px;
    padding-right: 2px;
}
.padding-sides-md{
    padding-left: 5px;
    padding-right: 5px;
}
.display-none {
    display: none;
}
.display-inline-block {
    display: inline-block;
}

#portfolio #portfolio-cats li:hover {
    border: 1px solid #3333ff;
}

#portfolio #portfolio-cats li.active {
    border: 1px solid #3333ff;
}


#blog {
}

#features {
}

#portfolio {
}

#portfolio-cats {
    margin-bottom: 30px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    -webkit-transition: all 100ms linear 0s;
    -o-transition: all 100ms linear 0s;
    transition: all 100ms linear 0s;
}


#portfolio .col-md-4 {
    margin-bottom: 30px;
}

.portfolio-item .portfolio-item-link {
    /*display:block;*/
    position: absolute;
    background-color: #000000;
    right: 0px;
    left: 0px;
    z-index: 31;
    bottom: 0px;
    top: 300px;
    opacity: 0.65;
}

.portfolio-item .portfolio-item-link a {
    top: 50%;
    position: absolute;
    border-top: 1px solid #3333ff;
    border-bottom: 1px solid #3333ff;
    padding: 10px;
    color: #FFFFFF;
}

.portfolio-item img {
    z-index: 7;
    max-width: 100%;
    display: block;

}


#testimonials {
}

#testimonials h4 {
    font-weight: bold;
    font-size: 1em;
    padding-left: 100px;
}

#testimonials h4 span {
    font-weight: lighter;
    font-size: 0.8em;
}

#testimonials p {
    font-size: 0.9em;
    padding-left: 100px;
}


#about {
}

#about p {
    padding-left: 190px;
}

#about .outer {
    background-color: #DFDBDB;
    margin-bottom: 10px;
    border: 1px solid #B8B8B8;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.8em;
}

#about .outer .inner {
    background: linear-gradient(90deg, rgba(66,87,116,0.8127626050420168) 0%, rgba(0,0,0,1) 0%, rgba(0,142,255,1) 80%);;
    padding: 10px;
}

#contact label {
    display: block;
    margin-top: 25px;
    color: #7F7F7F;
    text-transform: uppercase;
    font-size: 0.9em;
}

#contact input,
#contact textarea {
    width: 100%;
}

#contact input {
    height: 40px;
}

#contact textarea {
    height: 80px;
}

#contact form input[type="submit"] {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #3333ff;
    border-top: 1px solid #3333ff;
    width: auto;
    background-color: transparent;
    margin-top: 20px;
}

#contact .contact-info h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

#contact .contact-info p strong {
    display: block;
}

#contact .contact-info p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

img.cert-cred {
    max-width: 115px;
}

img.logomain {
    max-width: 150px;
    padding-top: 12px;
}

.nav.navbar-nav a {
    color: #FFFFFF;
    font-size: 1.1em;
}

.nav.navbar-nav li.active {
    border-bottom: 1px solid #3333ff;

}

.carousel-caption {
    text-transform: uppercase;
    left: 0%;
    right: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption i.fa {
    border: 1px solid #3333ff;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-right: 2px;
}

.carousel-caption a {
    color: #FFFFFF;

}

.carousel-caption p {
    margin-top: 70px;
}

.carousel-caption p span {
    border-bottom: 1px solid #3333ff;
    border-top: 1px solid #3333ff;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5em;
    font-weight: lighter;
}

.left.carousel-control {
    left: -35px;
}

.right.carousel-control {
    right: 0px;
}

.navbar-header .navbar-brand, footer.footer .logo span {
    color: #FFFFFF;
    border-bottom: 2px solid #3333ff;
    font-size: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    padding-bottom: 12px;

}

.navbar.navbar-fixed-top {
    padding-top: 24px;
    border: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.66);
}

.nav.navbar-nav li a:hover {

}

.nav.navbar-nav li.active a {

}

.section-title {
    display: table;
    margin: 0 auto 30px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1em;
    background: radial-gradient(circle, rgba(66,87,116,0.8127626050420168) 0%, rgba(0,0,0,1) 0%, rgba(0,142,255,1) 100%);
    color: black;
    border-radius: 5px;
    background-position: 0 3.03em;
    background-repeat: repeat-x;
    background-size: 2px 6px;
}

.section {
    padding-top: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F1F1F1;
    overflow: visible;
}

.carousel-caption h3 {
    font-size: 3.5em;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 0px;
}

#features h3 {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 19px;
}

#features h3:after {
    display: block;
    height: 2px;
    width: 70px;
    background-color: #3333ff;
    content: "";
    margin-top: 20px;
}


#features .col-md-4 {
    padding-left: 75px;
    position: relative;
    margin-bottom: 40px;
}

#features .col-md-4 .fa {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000000;
    border-radius: 50%;
    font-size: 1.5em;
    width: 55px;
    border: 2px solid #3333ff;
    height: 55px;
    padding-top: 15px;
    text-align: center;
}

#blog .caption h3 {
    font-size: 1.6em;
    margin-bottom: 19px;
    font-weight: lighter;
    margin-top: 30px;
}

#blog .caption h3:after {
    display: block;
    height: 2px;
    width: 70px;
    background-color: #3333ff;
    content: "";
    margin-top: 20px;
}

#blog .caption p {
    text-decoration: underline;
}

#blog .caption .metadata {
    text-decoration: none;
    border-bottom: 1px solid #3333ff;
    font-size: 0.8em;
    width: auto;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 12px;
}

#blog .caption .metadata a {
    color: #000000;
    font-weight: bold;
}

#blog .caption a.read-more {
    background-color: #3333ff;
    color: #FFFFFF;
    /* [disabled]display: inline-block; */
    padding: 5px 10px;
    margin-left: 15px;
}

footer.footer {
    background-color: #353535;
    color: #FFFFFF;
    margin-top: 45px;
    /*padding-top: 20px;*/
    font-size: 0.8em;
    /*position: fixed;*/
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 180px;
}

footer.footer > * {
    margin-bottom: 25px;
    text-transform: uppercase;
}

footer.footer .socials .fa {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #3333ff;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    font-size: 1.4em;
}

footer.footer a {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar.navbar-fixed-top.inbody {
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 0px;
    border-bottom: 1px solid #F1F1F1;
}

.inbody a {
    color: #000000 !important;
    text-shadow: 0px 0px;
}

.portfolio-item:hover > .portfolio-item-link {
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.portfolio-item:hover > .portfolio-item-link {
    top: 0px;
}

button.navbar-toggle span {
    background-color: rgba(255, 255, 255, 0.60);
}

button.navbar-toggle {
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.37);
}

#portfolio .mix {
    display: none;
}

#testimonials .col-md-6 {
    margin-bottom: 30px;
}


@media (min-width: 350px) and (max-width: 919px) {
    .nav.navbar-nav.navbar-right.text-uppercase li a {
        font-size: 0.8em;
        padding-right: 4px;
        padding-left: 4px;
    }
}

@media (max-width: 919px) {
    .carousel-caption h3 {
        font-size: 1.5em;
    }

    .carousel-caption p {
        font-size: 1em;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 25px;
    }

    .carousel-caption {
        transform: none;
        position: absolute;
        left: 15%;
        right: 15%;
        bottom: 20px;
        top: auto;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}

@media (max-width: 349px) {
    nav.navbar ul {
        background-color: rgba(0, 0, 0, 0.80);
    }

}

.stdButton{
    font-family: 'robotolight', sans-serif;
    background: radial-gradient(circle, rgba(66,87,116,0.8127626050420168) 0%, rgba(0,0,0,1) 0%, rgba(0,142,255,1) 100%);
    border-radius: 5px;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 1px;
}
.mdMinWidth{
    min-width: 20em;
    max-width: 20em;
}

/* Darker background on mouse-over */
.stdButton:hover {
    background: radial-gradient(circle, rgba(66,87,116,0.8127626050420168) 0%, rgb(255, 255, 255) 0%, rgba(0,142,255,1) 100%);
    color: black;
}

.stdButton:disabled{
    background: radial-gradient(circle, rgba(66,87,116,0.8127626050420168) 0%, rgb(255, 255, 255) 0%, rgba(0,142,255,1) 100%);
    color: gray;
}

.userAnswer {
    text-align: center;
    border: 3px double white;
    color: white;
}

.legendText {
    text-align: center;
    border: none;
    color: black;
    font-weight: bold;
}

.darkGreen{
    background-color: darkgreen;
}

.darkRed{
    background-color: darkred;
}

.darkBlue{
    background-color: darkblue;
}


/*Tooltip section W3schools*/

.basicTooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px;
}
.basicTooltip .basicTooltipText {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    text-transform: none;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 100%;
    left: -135px;
    margin-left: 10px;
    white-space: normal;
}

.basicTooltip .displayTooltipCenter {
    left: -135px;
}

.basicTooltip:hover .basicTooltipText {
    visibility: visible;
}

.text-align-center{
    text-align: center;
}

.white-space-normal {
    white-space: normal;
}

.watermarked {
    position: relative;
}

.watermarked:after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 15px;
    background-size: 100px 100px;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.watermarked-free:after {
    content: '\01F193';
}
.watermarked-contributor:after {
    content: '\01F4B5';
}
